<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <title>DiscStore</title>
</head>
<body>
    {% if user.is_authenticated %}
        {% include 'navbar_log.html' %}
    {% else %}
        {% include 'navbar.html' %}
    {% endif %}
    {% block content %}
    <!-- El contenido específico de cada página irá aquí -->
    {% endblock %}
</body>
</html>